* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 17px;
    font-size: 62.5%;
    font-weight: 300;
}

body {
    font-family: $fLato;
    font-weight: 300;
    font-size: 17px;
    line-height: 1.6;
    color: $cLight;
}

.container {
    padding: 0 15px;
    @media #{$mobile} {
        padding: 0 35px;
    }
    @media #{$sTablet} {
        padding: 0 3%;
    }
    @media #{$tablet} {
        padding: 0 5%;
    }
    @media #{$sDesktop} {
        padding: 0 7%;
    }
    @media #{$desktop} {
        padding: 0 9%;
    }
}

.bPadding {
    padding-top: 35px;
    padding-bottom: 35px;
    @media #{$mobile} {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @media #{$sTablet} {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    @media #{$sDesktop} {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media #{$desktop} {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.nPadding {
    padding-top: 20px;
    padding-bottom: 20px;
    @media #{$mobile} {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    @media #{$sTablet} {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    @media #{$sDesktop} {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media #{$desktop} {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.sPadding {
    padding-top: 35px;
    padding-bottom: 35px;
    @media #{$mobile} {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @media #{$sTablet} {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @media #{$sDesktop} {
        padding-top: 55px;
        padding-bottom: 55px;
    }
    @media #{$desktop} {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.page-header {
    margin-top: 65px;
    &__title {
        font-size: 26px;
        color: $cWhite;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 500;
        @media #{$mobile} {
            font-size: 30px;
        }
    }
}

.title {
    font-size: 18px;
    font-family: $fComfortaa;
    font-weight: 600;
    margin: 0;
    color: $cDark;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    @media #{$mobile} {
        font-size: 20px;
    }
    @media #{$sTablet} {
        font-size: 22px;
    }
    @media #{$tablet} {
        font-size: 24px;
    }
    @media #{$sDesktop} {
        font-size: 26px;
    }
    @media #{$desktop} {
        font-size: 28px;
    }
    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
        @media #{$sTablet} {
            margin-bottom: 20px;
        }
        @media #{$sDesktop} {
            margin-bottom: 35px;
        }
    }
    &::after {
        content: '';
        display: inline-block;
        height: 2px;
        background-color: $cPrimary;
        width: 15px;
        @media #{$sTablet} {
            width: 20px;
            margin-top: 3px;
        }
        @media #{$sDesktop} {
            width: 25px;
            margin-top: 5px;
        }
    }
    &--center {
        text-align: center;
    }
    &--left {
        align-self: flex-start;
        align-items: flex-start;
    }
}
