* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 17px;
    font-size: 62.5%;
    font-weight: 300;
}

body {
    font-family: $fLato;
    font-weight: 300;
    font-size: 17px;
    line-height: 1.6;
    color: $cLight;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: $cBackground;
    opacity: 0;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    &.active {
        opacity: 1;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__img {
        width: 200px;
    }
    .spinner {
        margin: 25px auto 0;
        width: 70px;
        text-align: center;
    }

    .spinner > div {
        width: 18px;
        height: 18px;
        background-color: $cPrimary;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

    @-webkit-keyframes sk-bouncedelay {
        0%,
        80%,
        100% {
            -webkit-transform: scale(0);
        }
        40% {
            -webkit-transform: scale(1);
        }
    }

    @keyframes sk-bouncedelay {
        0%,
        80%,
        100% {
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        40% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
}

.container {
    padding: 0 15px;
    @media #{$mobile} {
        padding: 0 35px;
    }
    @media #{$sTablet} {
        padding: 0 3%;
    }
    @media #{$tablet} {
        padding: 0 5%;
    }
    @media #{$sDesktop} {
        padding: 0 7%;
    }
    @media #{$desktop} {
        padding: 0 9%;
    }
}

.bPadding {
    padding-top: 35px;
    padding-bottom: 35px;
    @media #{$mobile} {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @media #{$sTablet} {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    @media #{$sDesktop} {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media #{$desktop} {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.nPadding {
    padding-top: 20px;
    padding-bottom: 20px;
    @media #{$mobile} {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    @media #{$sTablet} {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    @media #{$sDesktop} {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media #{$desktop} {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.sPadding {
    padding-top: 35px;
    padding-bottom: 35px;
    @media #{$mobile} {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @media #{$sTablet} {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @media #{$sDesktop} {
        padding-top: 55px;
        padding-bottom: 55px;
    }
    @media #{$desktop} {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

h1 {
    font-size: 1.65em;
    margin: 0.6em 0;
    &:first-of-type {
        margin: 0;
        margin-bottom: 0.6em;
    }
}
h2 {
    font-size: 1.5em;
    margin: 0.5em 0;
}
h3 {
    font-size: 1.4em;
    margin: 0.4em 0;
}
h4 {
    font-size: 1.35em;
    margin: 0.3em 0;
}
h5 {
    font-size: 1.25em;
    margin: 0.2em 0;
}
h6 {
    font-size: 1.15em;
    margin: 0.1em 0;
}

.page-header {
    margin-top: 65px;
    @media #{$sTablet} {
        visibility: hidden;
    }
    &__title {
        font-size: 26px;
        color: $cWhite;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 500;
        @media #{$mobile} {
            font-size: 30px;
        }
    }
}

.title {
    font-size: 18px;
    font-family: $fComfortaa;
    font-weight: 600;
    margin: 0;
    color: $cDark;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    @media #{$mobile} {
        font-size: 20px;
    }
    @media #{$sTablet} {
        font-size: 22px;
        visibility: hidden;
    }
    @media #{$tablet} {
        font-size: 24px;
    }
    @media #{$sDesktop} {
        font-size: 26px;
    }
    @media #{$desktop} {
        font-size: 28px;
    }
    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
        @media #{$sTablet} {
            margin-bottom: 20px;
        }
        @media #{$sDesktop} {
            margin-bottom: 35px;
        }
    }
    &::after {
        content: '';
        display: inline-block;
        height: 2px;
        background-color: $cPrimary;
        width: 15px;
        @media #{$sTablet} {
            width: 20px;
            margin-top: 3px;
        }
        @media #{$sDesktop} {
            width: 25px;
            margin-top: 5px;
        }
    }
    &--center {
        text-align: center;
    }
    &--left {
        align-self: flex-start;
        align-items: flex-start;
    }
}

.btn {
    display: inline-block;
    color: $cPrimary;
    text-decoration: none;
    font-family: $fComfortaa;
    font-size: 15px;
    text-transform: lowercase;
    font-weight: 500;
    @media #{$sTablet} {
        visibility: hidden;
    }
}
