.footer {
    background-color: $cLight;
    &__container {
        display: flex;
        font-size: 0;
        flex-direction: column;
        align-items: center;
        @media #{$sTablet} {
            align-items: flex-start;
            flex-direction: row;
        }
    }
    &__col {
        display: inline-flex;
        flex-grow: 1;
    }
    &__text {
        font-size: 16px;
        color: $cWhite;
    }
    &__address {
        color: $cWhite;
        font-size: 16px;
        text-align: center;
        margin: 15px 0;
        @media #{$sTablet} {
            text-align: left;
            margin: 0;
        }
    }
}
