.footer {
    background-color: $cLight;
    &__container {
        display: flex;
        font-size: 0;
        flex-direction: column;
        align-items: center;
        @media #{$sTablet} {
            flex-direction: row;
            align-items: flex-start;
        }
    }
    &__logo {
        height: 57px;
    }
    &__col {
        display: inline-flex;
        flex-grow: 1;
        margin-bottom: 15px;
        &--address {
            @media #{$sTablet} {
                justify-content: flex-end;
            }
        }
    }
    &__text {
        color: $cWhite;
    }
    &__address {
        color: $cWhite;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        margin: 15px 0;
        @media #{$sTablet} {
            text-align: left;
            margin: 0;
            font-size: 18px;
        }
        a {
            color: $cWhite;
            font-size: 16px;
            font-weight: 300;
            display: inline-block;
            text-decoration: none;
            margin-bottom: 5px;
            margin-left: 5px;
            @media #{$sTablet} {
                font-size: 18px;
            }
        }
    }
}
