.footer {
    background-color: $cDark;
    &__container {
        display: flex;
        font-size: 0;
        flex-direction: column;
        align-items: center;
        @media #{$sTablet} {
            flex-direction: row;
            align-items: flex-start;
        }
    }
    &__logo {
        height: 33px;
        @media #{$sTablet} {
            height: 57px;
        }
    }
    &__col {
        display: inline-flex;
        flex-grow: 1;
        margin-bottom: 15px;
        &--address {
            @media #{$sTablet} {
                justify-content: flex-end;
            }
        }
    }
    &__text {
        color: $cWhite;
    }
    &__address {
        color: $cWhite;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        margin: 15px 0;
        @media #{$sTablet} {
            text-align: left;
            margin: 0;
            font-size: 18px;
        }
    }
    &__link {
        color: $cWhite;
        font-size: 16px;
        font-weight: 300;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        margin-bottom: 10px;
        @media #{$sTablet} {
            font-size: 18px;
        }
        &::before {
            content: '';
            display: inline-flex;
            justify-content: center;
            align-items: center;
            max-width: 33px;
            margin-right: 13px;
            pointer-events: none;
            @include animate;
        }
        &--tel {
            &::before {
                content: url(../img/phone-white.png);
            }
            &:hover {
                &::before {
                    transform: rotate(35deg);
                }
            }
        }
        &--mail {
            &::before {
                content: url(../img/mail-white.png);
                transition-timing-function: cubic-bezier(1, -2.78, 0.735, 0.045);
            }
            &:hover {
                &::before {
                    transform: translateX(3px);
                    @media #{$tablet} {
                        transform: translateX(7px);
                    }
                }
            }
        }
    }
}
