.footer {
    background-color: $cLight;
    &__container {
        display: flex;
        align-items: flex-start;
        font-size: 0;
    }
    &__col {
        display: inline-flex;
        flex-grow: 1;
    }
    &__text {
        font-size: 16px;
        color: $cWhite;
    }
    &__address {
        color: $cWhite;
        font-size: 16px;
    }
}
