.hero {
    background-position: top left;
    background-repeat: no-repeat;
    background-color: $cBackground;
    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 55px;
        margin-bottom: 15px;
        @media #{$sTablet} {
            margin-top: 25px;
            margin-bottom: 0;
        }
        @media #{$tablet} {
            margin-top: 15px;
        }
    }
    &__title {
        font-family: $fComfortaa;
        color: $cWhite;
        font-weight: 500;
        font-size: 22px;
        display: inline-block;
        @media #{$mobile} {
            font-size: 32px;
        }
        @media #{$sTablet} {
            font-size: 36px;
        }
        @media #{$tablet} {
            font-size: 44px;
        }
        @media #{$sDesktop} {
            font-size: 62px;
        }
        @media #{$desktop} {
            font-size: 75px;
        }
    }
}

.info {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $cWhite;
    @media #{$sTablet} {
        flex-direction: row;
    }
    &__block {
        width: calc(100% - 20px);
        margin: 0 10px 20px;
        border: 1px solid $cLPrimary;
        display: flex;
        border-radius: 10px;
        min-height: 275px;
        flex-direction: column;
        flex-shrink: 0;
        @media #{$mobile} {
            flex-direction: row;
        }
        @media #{$sTablet} {
            width: calc(50% - 20px);
            margin: 0 10px 40px;
        }
        @media #{$sTablet} {
            &:nth-of-type(even) {
                .info__img {
                    order: 0;
                    border-radius: 10px 0px 0px 10px;
                }
            }
            &:nth-child(3),
            &:nth-child(4) {
                margin-bottom: 0;
            }
        }
    }
    &__img {
        display: none;
        flex-basis: 50%;
        padding-right: 15px;
        background-position: center center;
        background-size: cover;
        order: 1;
        border-radius: 0px 10px 10px 0px;
        @media #{$mobile} {
            display: inline-flex;
        }
    }
    &__content {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex-basis: 50%;
        padding: 25px 25px 10px;
        @media #{$sTablet} {
            padding: 45px 35px 15px;
        }
        @media #{$tablet} {
            padding-bottom: 15px;
        }
    }
    &__title {
        font-family: $fComfortaa;
        letter-spacing: 1px;
        font-weight: 600;
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 1.4;
        @media #{$sTablet} {
            margin-bottom: 10px;
        }
        @media #{$tablet} {
            margin-bottom: 15px;
        }
    }
    &__text {
        font-family: $fLato;
        font-size: 16px;
        @media #{$sTablet} {
            font-size: 14px;
        }
        @media #{$tablet} {
            font-size: 16px;
        }
    }
}

.producents {
    &__wrapper {
        display: flex;
        padding: 35px 0;
        background-color: $cBackground;
    }
    .slide {
        display: inline-flex;
        margin: 30px 15px;
    }
    .slick-track {
        display: flex;
        align-items: center;
    }
}

.about {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media #{$tablet} {
            flex-direction: row;
            align-items: flex-start;
        }
    }
    &__content {
        @media #{$tablet} {
            width: 45%;
            padding-right: 25px;
        }
        @media #{$desktop} {
            width: 50%;
        }
    }
    &__text {
        p {
            margin-bottom: 1em;
        }
    }
    &__img {
        margin: 0 -15px -35px;
        display: inline-flex;
        @media #{$mobile} {
            margin: 0 -35px -50px;
        }
        @media #{$sTablet} {
            margin: 0;
            margin-top: 15px;
        }
        @media #{$tablet} {
            margin: 0;
            width: 55%;
            transform: translateX(10%);
        }
        @media #{$sDesktop} {
            transform: translateX(14.7%);
        }
        @media #{$desktop} {
            width: 50%;
            transform: translateX(22%);
        }
    }
}

.rentals {
    background: $cBackground;
    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @media #{$sTablet} {
            padding: 0 85px;
        }
    }
}

.rental-item {
    display: inline-flex;
    width: 100%;
    position: relative;
    border-radius: 5px;
    @media #{$mobile} {
        width: calc(50% - 30px);
        justify-content: center;
        margin: 0 15px 15px;
    }
    @media #{$sTablet} {
        border-radius: 10px;
        width: calc(33.33% - 30px);
        margin: 15px;
        &:hover {
            .rental-item {
                &__layer {
                    background-color: rgba(32, 32, 32, 0.75);
                }
                &__text {
                    transform: translateY(-10px);
                }
                &__name::after {
                    width: 100%;
                }
            }
        }
    }
    @media #{$tablet} {
        justify-content: flex-start;
    }
    @media #{$sDesktop} {
        width: calc(25% - 30px);
    }
    &__inner {
        position: relative;
        overflow: hidden;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    &__gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 10px;
        background: linear-gradient(
            0deg,
            #141414 0,
            rgba(32, 32, 32, 0.05) 25%,
            rgba(32, 32, 32, 0)
        );
    }
    img {
        width: 85%;
    }
    &__layer {
        width: 100%;
        height: 100%;
        display: inline-flex;
        justify-content: flex-start;
        align-items: flex-end;
        border: 1px solid #548d9b;
        background-color: rgba(32, 32, 32, 0);
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        padding: 10px;
        @media #{$sTablet} {
            border: 2px solid $cPrimary;
            padding: 15px;
        }
    }
    &__name {
        width: 100%;
        text-align: center;
        @media #{$sTablet} {
            text-align: left;
        }
    }
    &__text {
        color: $cWhite;
        display: inline-block;
        font-weight: 600;
        font-size: 17px;
        font-family: $fComfortaa;
        letter-spacing: 0.05em;
        line-height: 1.2;
        @include animate;
        @media #{$mobile} {
            font-size: 18px;
            line-height: 1.3;
        }
        @media #{$sTablet} {
            line-height: 1.4;
            font-size: 20px;
        }
    }
}

.rental {
    &__block {
        border: 1px solid $cPrimary;
        position: relative;
        margin-bottom: 25px;
        @media #{$mobile} {
            width: calc(50% - 30px);
            margin: 0 15px 30px;
        }
        @media #{$tablet} {
            width: 100%;
            margin: 0;
            margin-bottom: 35px;
        }
        @media #{$sDesktop} {
            width: 95%;
        }
    }
    &__container {
        @media #{$mobile} {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        @media #{$tablet} {
            flex-direction: row;
            align-items: stretch;
        }
    }
    &__img {
        border-radius: 7px;
        overflow: hidden;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding-top: 35px;
        max-width: 320px;
        @media #{$mobile} {
            max-width: 100%;
        }
        @media #{$tablet} {
            width: 25%;
            padding-top: 15px;
            border-right: 1px solid $cPrimary;
        }
        @media #{$sDesktop} {
            width: 20%;
        }
    }
    &__title {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: $cWhite;
        border: 1px solid $cLPrimary;
        border-top: 0;
        padding: 5px;
        padding-top: 7px;
        text-align: center;
        border-radius: 0 0 5px 5px;
        font-family: $fComfortaa;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        width: 90%;
        font-size: 16px;
        @media #{$tablet} {
            width: 75%;
            font-size: 21px;
        }
    }
    &__text {
        display: inline-flex;
        align-items: center;
        padding: 0 15px 0;
        @media #{$tablet} {
            border-right: 1px solid $cPrimary;
            padding: 55px 15px 0;
            width: 55%;
        }
        @media #{$sDesktop} {
            width: 60%;
        }
    }
    &__price {
        width: 100%;
        border-top: 1px solid $cPrimary;
        padding: 5px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        @media #{$tablet} {
            width: 20%;
            border-top: 0;
            font-size: 17px;
        }
        span {
            display: inline-block;
            color: $cDark;
            font-weight: 500;
        }
    }
}

.sidebar {
    background-color: $cBackground;
    @media #{$sTablet} {
        width: 40%;
    }
    @media #{$sDesktop} {
        width: 25%;
    }
    &__content {
        padding-left: 15px;
        @media #{$mobile} {
            padding-left: 35px;
        }
        @media #{$sTablet} {
            padding-left: 20px;
            padding-right: 20px;
        }
        @media #{$tablet} {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
    &__title {
        display: inline-block;
        font-size: 17px;
        font-family: $fComfortaa;
        font-weight: 600;
        @media #{$mobile} {
            font-size: 18px;
        }
        @media #{$sTablet} {
            font-size: 20px;
        }
        @media #{$tablet} {
            font-size: 22px;
        }
    }
    &__list {
        list-style-type: none;
        margin: 0;
        margin-top: 15px;
        @media #{$sTablet} {
            margin-top: 25px;
        }
    }
    &__item {
        font-family: $fComfortaa;
        margin-top: 5px;
        margin-bottom: 5px;
        display: inline-flex;
        width: 100%;
        align-items: center;
        @media #{$mobile} {
            font-size: 16px;
        }
        @media #{$sTablet} {
            margin-top: 9px;
            margin-bottom: 9px;
            width: 100%;
            font-size: 17px;
        }
        @media #{$tablet} {
            font-size: 18px;
        }
        &::before {
            content: '';
            width: 4px;
            height: 4px;
            transform: rotate(45deg);
            background-color: $cPrimary;
            display: inline-block;
            margin-right: 5px;
        }
    }
    &__link {
        color: $cDark;
        text-decoration: none;
        position: relative;
        display: inline-flex;
        flex-direction: column;
        @media #{$sTablet} {
            width: auto;
        }
        &::after {
            content: '';
            height: 1px;
            width: 10%;
            background-color: $cPrimary;
            @include animate;
        }
        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
}

.services {
    display: block;
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        @media #{$mobile} {
            flex-direction: row;
            justify-content: center;
        }
    }
}

.service {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $fComfortaa;
        font-weight: 600;
    }
    p {
        margin-bottom: 1em;
    }
    @media #{$sTablet} {
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
    }
    @media #{$tablet} {
        font-size: 17px;
    }
    @media #{$sDesktop} {
        font-size: 18px;
    }
    &__container {
        padding-left: 15px;
        padding-right: 15px;
        @media #{$mobile} {
            padding-left: 35px;
            padding-right: 35px;
        }
        @media #{$sTablet} {
            padding-left: 3%;
            width: 60%;
        }
        @media #{$tablet} {
            padding-left: 5%;
            padding-right: 5%;
        }
        @media #{$sDesktop} {
            padding-left: 7%;
            width: 75%;
        }
        @media #{$desktop} {
            padding-left: 9%;
        }
    }
}

.service-item {
    display: inline-flex;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 15px;
    @media #{$mobile} {
        margin: 15px;
        width: calc(50% - 30px);
        justify-content: center;
    }
    @media #{$sTablet} {
        border-radius: 10px;
        margin: 15px;
        &:hover {
            .service-item {
                &__layer {
                    background-color: rgba(32, 32, 32, 0.75);
                }
                &__text {
                    transform: translateY(-10px);
                }
                &__name::after {
                    width: 100%;
                }
            }
        }
    }
    @media #{$tablet} {
        width: auto;
        justify-content: flex-start;
    }
    &__inner {
        display: block;
        position: relative;
        overflow: hidden;
    }
    &__gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            0deg,
            #141414 0,
            rgba(32, 32, 32, 0.15) 50%,
            rgba(32, 32, 32, 0)
        );
        padding: 10px;
    }
    &__layer {
        width: 100%;
        height: 100%;
        display: inline-flex;
        justify-content: flex-start;
        align-items: flex-end;
        border: 1px solid $cPrimary;
        background-color: rgba(32, 32, 32, 0);
        overflow: hidden;
        @include animate;
        padding: 10px;
        @media #{$sTablet} {
            border: 2px solid $cPrimary;
            padding: 15px;
        }
    }
    &__name {
        width: 100%;
        text-align: center;
        @media #{$sTablet} {
            text-align: left;
        }
        &::after {
            content: '';
            display: block;
            width: 10%;
            height: 2px;
            background-color: $cPrimary;
            margin: 5px auto 0;
            @include animate;
            @media #{$sTablet} {
                margin: 5px 0 0;
            }
        }
    }
    &__text {
        color: $cWhite;
        display: inline-block;
        font-weight: 600;
        font-size: 17px;
        font-family: $fComfortaa;
        letter-spacing: 0.05em;
        line-height: 1.2;
        @include animate;
        @media #{$mobile} {
            font-size: 18px;
            line-height: 1.3;
        }
        @media #{$sTablet} {
            font-size: 20px;
            line-height: 1.4;
        }
    }
}

.contact {
    &__container {
        display: flex;
        flex-direction: column;
        @media #{$sTablet} {
            flex-direction: row;
        }
    }
    &__details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 25px;
        @media #{$sTablet} {
            width: 30%;
            margin-top: 0;
        }
        @media #{$tablet} {
            padding-left: 50px;
        }
    }
    &__form {
        max-width: 700px;
        @media #{$sTablet} {
            max-width: none;
            width: 70%;
            padding-right: 25px;
        }
        @media #{$tablet} {
            padding-right: 0;
        }
    }
    &__row {
        display: flex;
        flex-direction: column;
        @media #{$sTablet} {
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 30px;
        }
    }
    &__el {
        position: relative;
        margin-bottom: 20px;
        @media #{$sTablet} {
            width: calc(50% - 30px);
            margin-right: 30px;
        }
        @media #{$tablet} {
            width: calc(25% - 20px);
            margin-bottom: 0;
            margin-right: 20px;
            &:last-of-type {
                margin-right: 0;
                width: 25%;
            }
        }
    }
    &__full {
        width: 100%;
        position: relative;
        @media #{$sTablet} {
            margin-right: 30px;
        }
        @media #{$tablet} {
            margin-right: 0;
        }
    }
    &__text {
        font-size: 14px;
        font-weight: 500;
        color: $cDark;
        text-transform: uppercase;
        position: absolute;
        top: -3px;
        left: 0;
        display: inline-block;
        z-index: 5;
        background-color: $cWhite;
        padding: 0 5px;
        line-height: 1;
        @include animate;
    }
    &__wrapper {
        position: relative;
    }
    &__input {
        padding: 15px 15px 0;
        font-size: 15px;
        font-style: italic;
        color: #010101;
        width: 100%;
        border: 0;
        box-sizing: border-box;
        &:focus {
            & + .contact__after::after {
                width: 100%;
            }
        }
    }
    &__after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #d4d5d8;
        &::after {
            position: absolute;
            bottom: 0;
            content: '';
            display: block;
            width: 0%;
            height: 2px;
            background-color: $cPrimary;
            transition: all 0.5s ease;
        }
    }
    &__btn {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        @media #{$tablet} {
            margin-top: 0;
            margin-right: 0;
        }
    }
    &__submit {
        background-color: transparent;
        border: 0;
        padding: 8px 11px;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        &::after,
        &::before {
            content: '';
            position: absolute;
            display: block;
            background-color: $cPrimary;
            width: 0%;
            height: 2px;
            @include animate;
        }
        &::before {
            top: 0;
            right: 0;
        }
        &::after {
            bottom: 0;
            left: 0;
        }
        &:hover {
            &::before,
            &::after {
                width: 100%;
            }

            .contact__more {
                &::before,
                &::after {
                    height: 100%;
                }
            }
        }
    }
    &__more {
        margin: 0;
        color: #2d3a4b;
        align-items: center;
        display: block;
        font-size: 14px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        &::after,
        &::before {
            content: '';
            position: absolute;
            display: block;
            background-color: $cPrimary;
            width: 2px;
            height: 0%;
            @include animate;
            transition-delay: 0.3s;
        }
        &::after {
            bottom: 0;
            right: 0;
        }
        &::before {
            top: 0;
            left: 0;
        }
    }
    &__logo {
        display: inline-block;
        max-width: 200px;
        margin-bottom: 25px;
        @media #{$sTablet} {
            max-width: 215px;
        }
    }
    &__title {
        display: inline-block;
        font-size: 19px;
        margin-bottom: 15px;
    }
    &__link {
        display: inline-flex;
        align-items: center;
        color: $cDark;
        text-decoration: none;
        font-size: 18px;
        margin-bottom: 15px;
    }
    &--tel {
        &::before {
            content: url(../img/phone.png);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            margin-right: 7px;
            @include animate();
            @media #{$tablet} {
                margin-right: 10px;
            }
        }
        &:hover {
            &::before {
                transform: rotate(35deg);
            }
        }
    }
    &--mail {
        &::before {
            content: url(../img/mail.png);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            margin-right: 7px;
            @include animate();
            @media #{$tablet} {
                margin-right: 10px;
            }
        }
        &:hover {
            &::before {
                transform: translateX(3px);
                @media #{$tablet} {
                    transform: translateX(7px);
                }
            }
        }
    }
}

.wpcf7-form-control-wrap {
    padding-bottom: 6px;
}

.wpcf7-form-control {
    resize: none;
}
