.hero {
    background-position: top left;
    background-repeat: no-repeat;
    background-color: $cBackground;
    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 55px;
        margin-bottom: 15px;
        @media #{$sTablet} {
            margin-top: 25px;
            margin-bottom: 0;
        }
        @media #{$tablet} {
            margin-top: 15px;
        }
    }
    &__title {
        font-family: $fComfortaa;
        color: $cWhite;
        font-weight: 500;
        font-size: 22px;
        display: inline-block;
        @media #{$mobile} {
            font-size: 32px;
        }
        @media #{$sTablet} {
            font-size: 36px;
        }
        @media #{$tablet} {
            font-size: 44px;
        }
        @media #{$sDesktop} {
            font-size: 62px;
        }
        @media #{$desktop} {
            font-size: 75px;
        }
    }
}

.info {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $cWhite;
    @media #{$sTablet} {
        flex-direction: row;
    }
    &__block {
        width: calc(100% - 20px);
        margin: 0 10px 20px;
        border: 1px solid $cLPrimary;
        display: flex;
        border-radius: 10px;
        min-height: 275px;
        flex-direction: column;
        flex-shrink: 0;
        @media #{$mobile} {
            flex-direction: row;
        }
        @media #{$sTablet} {
            width: calc(50% - 20px);
            margin: 0 10px 40px;
        }
        @media #{$sTablet} {
            &:nth-of-type(even) {
                .info__img {
                    order: 0;
                    border-radius: 10px 0px 0px 10px;
                }
            }
            &:nth-child(3),
            &:nth-child(4) {
                margin-bottom: 0;
            }
        }
    }
    &__img {
        display: none;
        flex-basis: 50%;
        padding-right: 15px;
        background-position: center center;
        background-size: cover;
        order: 1;
        border-radius: 0px 10px 10px 0px;
        @media #{$mobile} {
            display: inline-flex;
        }
    }
    &__content {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex-basis: 50%;
        padding: 25px 25px 10px;
        @media #{$sTablet} {
            padding: 45px 35px 15px;
        }
        @media #{$tablet} {
            padding-bottom: 15px;
        }
    }
    &__title {
        font-family: $fComfortaa;
        letter-spacing: 1px;
        font-weight: 600;
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 1.4;
        @media #{$sTablet} {
            margin-bottom: 10px;
        }
        @media #{$tablet} {
            margin-bottom: 15px;
        }
    }
    &__text {
        font-family: $fLato;
        font-size: 16px;
        @media #{$sTablet} {
            font-size: 14px;
        }
        @media #{$tablet} {
            font-size: 16px;
        }
    }
}

.producents {
    &__wrapper {
        display: flex;
        padding: 35px 0;
        background-color: $cBackground;
    }
    .slide {
        display: inline-flex;
        margin: 30px 15px;
    }
    .slick-track {
        display: flex;
        align-items: center;
    }
}

.about {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media #{$tablet} {
            flex-direction: row;
            align-items: flex-start;
        }
    }
    &__content {
        @media #{$tablet} {
            width: 45%;
            padding-right: 25px;
        }
        @media #{$desktop} {
            width: 50%;
        }
    }
    &__text {
        p {
            margin-bottom: 1em;
        }
    }
    &__img {
        margin: 0 -15px -35px;
        display: inline-flex;
        @media #{$mobile} {
            margin: 0 -35px -50px;
        }
        @media #{$sTablet} {
            margin: 0;
            margin-top: 15px;
        }
        @media #{$tablet} {
            margin: 0;
            width: 55%;
            transform: translateX(10%);
        }
        @media #{$sDesktop} {
            transform: translateX(14.7%);
        }
        @media #{$desktop} {
            width: 50%;
            transform: translateX(22%);
        }
    }
}

.rentals {
    &__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @media #{$sTablet} {
            flex-direction: row;
            padding: 0 85px;
        }
    }
}

.rental-item {
    display: inline-flex;
    width: 100%;
    position: relative;
    @media #{$sTablet} {
        padding: 30px;
        border: 2px solid $cPrimary;
        border-radius: 5px;
        width: calc(33.33% - 30px);
        margin: 15px;
    }
    &__name {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: inline-flex;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
        font-size: 26px;
        font-family: $fComfortaa;
        font-weight: 500;
        padding: 10px;
        text-align: center;
    }
    &__text {
        display: inline-block;
    }
    &__img {
        display: inline-flex;
    }
}

.services {
    display: block;
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        @media #{$mobile} {
            flex-direction: row;
        }
    }
}

.service-item {
    display: inline-flex;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 15px;
    @media #{$mobile} {
        margin: 15px;
        width: calc(50% - 30px);
        justify-content: center;
    }
    @media #{$sTablet} {
        border-radius: 10px;
        margin: 15px;
        &:hover {
            .service-item {
                &__layer {
                    background-color: rgba(32, 32, 32, 0.75);
                }
                &__text {
                    transform: translateY(-10px);
                }
                &__name::after {
                    width: 100%;
                }
            }
        }
    }
    @media #{$tablet} {
        width: calc(33.33% - 30px);
        justify-content: flex-start;
    }
    &__inner {
        display: block;
        position: relative;
        overflow: hidden;
    }
    &__gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            0deg,
            #141414 0,
            rgba(32, 32, 32, 0.15) 50%,
            rgba(32, 32, 32, 0)
        );
        padding: 10px;
        @media #{$sTablet} {
            padding: 15px;
        }
    }
    &__layer {
        width: 100%;
        height: 100%;
        display: inline-flex;
        justify-content: flex-start;
        align-items: flex-end;
        border: 1px solid $cPrimary;
        background-color: rgba(32, 32, 32, 0);
        overflow: hidden;
        @include animate;
        padding: 10px;
        @media #{$sTablet} {
            border: 2px solid $cPrimary;
            padding: 15px;
        }
    }
    &__name {
        width: 100%;
        text-align: center;
        @media #{$sTablet} {
            text-align: left;
        }
        &::after {
            content: '';
            display: block;
            width: 10%;
            height: 2px;
            background-color: $cPrimary;
            margin: 5px auto 0;
            @include animate;
            @media #{$sTablet} {
                margin: 5px 0 0;
            }
        }
    }
    &__text {
        color: $cWhite;
        display: inline-block;
        font-weight: 600;
        font-size: 17px;
        font-family: $fComfortaa;
        letter-spacing: 0.05em;
        line-height: 1.2;
        @include animate;
        @media #{$mobile} {
            font-size: 18px;
            line-height: 1.3;
        }
        @media #{$sTablet} {
            font-size: 20px;
            line-height: 1.4;
        }
    }
}
