.hero {
    background-position: top left;
    background-repeat: no-repeat;
    background-color: $cBackground;
    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 55px;
        margin-bottom: 15px;
        @media #{$sTablet} {
            margin-top: 25px;
            margin-bottom: 0;
        }
        @media #{$tablet} {
            margin-top: 15px;
        }
    }
    &__title {
        font-family: $fComfortaa;
        color: $cWhite;
        font-weight: 500;
        font-size: 22px;
        display: inline-block;
        @media #{$mobile} {
            font-size: 32px;
        }
        @media #{$sTablet} {
            font-size: 36px;
        }
        @media #{$tablet} {
            font-size: 44px;
        }
        @media #{$sDesktop} {
            font-size: 62px;
        }
        @media #{$desktop} {
            font-size: 75px;
        }
    }
}

.info {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $cWhite;
    @media #{$sTablet} {
        flex-direction: row;
    }
    &__block {
        width: calc(100% - 20px);
        margin: 0 10px 20px;
        border: 1px solid $cLPrimary;
        display: flex;
        border-radius: 10px;
        min-height: 275px;
        flex-direction: column;
        flex-shrink: 0;
        @media #{$mobile} {
            flex-direction: row;
        }
        @media #{$sTablet} {
            width: calc(50% - 20px);
            margin: 0 10px 40px;
        }
        @media #{$sTablet} {
            &:nth-of-type(even) {
                .info__img {
                    order: 0;
                    border-radius: 10px 0px 0px 10px;
                }
            }
            &:nth-child(3),
            &:nth-child(4) {
                margin-bottom: 0;
            }
        }
    }
    &__img {
        display: none;
        flex-basis: 50%;
        padding-right: 15px;
        background-position: center center;
        background-size: cover;
        order: 1;
        border-radius: 0px 10px 10px 0px;
        @media #{$mobile} {
            display: inline-flex;
        }
    }
    &__content {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex-basis: 50%;
        padding: 25px 25px 10px;
        @media #{$sTablet} {
            padding: 45px 35px 15px;
        }
        @media #{$tablet} {
            padding-bottom: 15px;
        }
    }
    &__title {
        font-family: $fComfortaa;
        letter-spacing: 1px;
        font-weight: 600;
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 1.4;
        @media #{$sTablet} {
            margin-bottom: 10px;
        }
        @media #{$tablet} {
            margin-bottom: 15px;
        }
    }
    &__text {
        font-family: $fLato;
        font-size: 16px;
        @media #{$sTablet} {
            font-size: 14px;
        }
        @media #{$tablet} {
            font-size: 16px;
        }
    }
}

.producents {
    &__wrapper {
        display: flex;
        padding: 35px 0;
        background-color: $cBackground;
    }
    .slide {
        display: inline-flex;
        margin: 30px 15px;
    }
    .slick-track {
        display: flex;
        align-items: center;
    }
}

.about {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media #{$tablet} {
            flex-direction: row;
            align-items: flex-start;
        }
    }
    &__content {
        @media #{$tablet} {
            width: 45%;
            padding-right: 25px;
        }
        @media #{$desktop} {
            width: 50%;
        }
    }
    &__text {
        p {
            margin-bottom: 1em;
        }
    }
    &__img {
        margin: 0 -15px -35px;
        display: inline-flex;
        @media #{$mobile} {
            margin: 0 -35px -50px;
        }
        @media #{$sTablet} {
            margin: 0;
            margin-top: 15px;
        }
        @media #{$tablet} {
            margin: 0;
            width: 55%;
            transform: translateX(10%);
        }
        @media #{$sDesktop} {
            transform: translateX(14.7%);
        }
        @media #{$desktop} {
            width: 50%;
            transform: translateX(22%);
        }
    }
}

.rentals {
    &__container {
        display: flex;
        flex-direction: column;
        @media #{$sTablet} {
            flex-direction: row;
        }
    }
}

.rental-item {
    display: inline-flex;
    width: 100%;
    position: relative;
    @media #{$sTablet} {
        width: 33%;
        padding: 30px;
        margin: 0 25px;
        width: 450px;
        height: 450px;
        border: 2px solid $cPrimary;
        border-radius: 5px;
    }
    &__name {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }
}
