/************************************/
/*********   VARIABLES   ***********/
/***********************************/

$desktop: 'only screen and (min-width: 1599px)';
$sDesktop: 'only screen and (min-width: 1365px)';
$tablet: 'only screen and (min-width: 1279px)';
$sTablet: 'only screen and (min-width: 1023px)';
$mobile: 'only screen and (min-width: 767px)';
$mMobile: 'only screen and (min-width: 479px)';
$sMobile: 'only screen and (min-width: 371px)';

$cDark: #141414;
$cLight: #333232;
$cWhite: #ffffff;
$cPrimary: #548d9b;
$cLPrimary: #74a4b4;
$cBackground: #f7f7f7;

$fLato: 'Lato', sans-serif;
$fComfortaa: 'Comfortaa', cursive;

@mixin animate {
    transition: all 0.3s ease-in-out;
}
