$desktop: 'only screen and (min-width: 1599px)';
$menuBreak: 'only screen and (min-width: 1599px)';
$sDesktop: 'only screen and (min-width: 1365px)';
$tablet: 'only screen and (min-width: 1279px)';
$sTablet: 'only screen and (min-width: 1023px)';
$mobile: 'only screen and (min-width: 767px)';
$mMobile: 'only screen and (min-width: 479px)';
$sMobile: 'only screen and (min-width: 371px)';

$cBlue: #1b1e36;
$cRed: #d31f1f;
$cGray: #efefef;

@mixin animate {
    transition: all 0.3s ease-in-out;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #ddd;
}

html {
    font-size: 16px;
    font-size: 62.5%;
    font-weight: 400;
    line-height: 1.63;
}
